# Workflow tasks.
vmklib>=2.0.12
yambs>=3.1.5
ifgen>=4.7.3

# Documentation.
sphinx
sphinx-book-theme
breathe
git+https://github.com/renefritze/exhale.git@feat/cpp-concepts#egg=exhale
myst-parser

# Linting and QA.
yamllint
